.button {
    font-weight: 550;
    width: 170px;
    padding: 13px 5px;
    background-color: #f0f0f0;
    color: #060F4C;
    border: 1px solid #ddd; 
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }

.button:hover {
    background-color: #00043C;
    border: 1px solid #152264; 
    color: #fff;
    padding: 13px 5px;
    box-shadow: 0 2px 3px #00043C;
}

.button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}