button {
  background: linear-gradient(90deg, #1900ff, #10009e, #000000);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(90deg, #000000, #10009e, #1900ff);
}

button:active {
  transform: scale(0.98);
}