* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 150px;
  border: 1px solid #000;
}

.containerLogo h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  font-weight: 900;
  color: #000;
}

.containerLogo span {
  font-family: 'Times New Roman', Times, serif;
  color: #00f;
  margin-left: 5px;
  font-size: 70px;
  letter-spacing: -2.5px;
  font-weight: 900;
}

.containerLogo i {
  font-size: 40px;
  margin-bottom: 75px;
}          

.containerLogo i:nth-child(2) {
  font-size: 40px;
  margin-left: -40px;
  position: relative;
  top: -4px;
  left: -4px
}