input {
    width: 300px;
    height: 40px;
    outline: none;
    padding-left: 10px;
    transition: border-bottom-color 0.3s ease-in-out;
    border: 1.8px solid #000000;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
} 

input:hover {
    border-color: #101994;
}   

input::placeholder {
    color: #999;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease, font-size 0.3s ease;
}

input:focus {
    border: 2px solid #101994;
    box-shadow: 0px 2px 8px rgba(16, 25, 148, 0.2);
    outline: none;
}

input:focus::placeholder {
    font-size: 15.5px;
}